*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    padding-top: 3vh;
    background: blanchedalmond;
}

h1 {
    margin: 0;
    font: 3.5em 'Baloo', sans-serif;
    text-shadow: 1px 1px 1px rgb(58, 55, 55);
    color: tomato;
}

p {
    font: 1.75em 'Baloo', sans-serif;
    margin: 0;
    color: slategrey;
}

#button {
    height: 30px;
    padding: 10px;
    line-height: 10px;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Baloo', sans-serif;
    background: tomato;
    color: #fff;
}